.wrapper_formManoObra{
    border: 1px solid rgb(158, 161, 161);
    border-right: 3px solid rgb(158, 161, 161);
    border-bottom: 3px solid rgb(158, 161, 161);
    background-color: #dce0e0;
    
}
.labelForm{
    font-size: .83rem;
}
.wrapper_input{
    height: 3rem;
}
.inputSmall{
    width: 150px;
}
.inputLarge{
    width: 150px;
}
.titulo_manoObra{
    background-color:#dce0e0;
    border-right: 3px solid rgb(158, 161, 161);
}
.bloqueado{
	opacity: 35% !important;
    pointer-events: visible !important;
    cursor: not-allowed !important;
    background-color: red !important;
}
.bg_thead{
    font-size: .9rem;
    font-weight: 600;
    background-color:  #1aa184d2;
    color: antiquewhite;
}
.bg_tbody{
    background-color: rgb(193, 238, 208);
    
}
