.wrapper_formManoObra{
    border: 1px solid rgb(158, 161, 161);
    border-right: 3px solid rgb(158, 161, 161);
    border-bottom: 3px solid rgb(158, 161, 161);
    background-color: #dce0e0;
    
}
.labelForm{
    font-size: .83rem;
}
.wrapper_input{
    height: 3rem;
}