.WrapperContenedor{
    margin: 0 auto;
    padding: .5em;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(183, 243, 220, 0.74);
    overflow-x: scroll;
}

.WrapperTable{
    margin: 3rem auto;
    padding: .5em;
    min-width: 120%;
    width: auto;
    background-color: rgb(228, 235, 141);
}

.Table{
    width: 100%;
    /* table-layout: fixed; */
    
}

.Table th{
    margin: .5rem .7rem;
    text-align: center;
    font-size: .9rem;
}
.Table td{
    text-align: center;
    font-size: .8rem;
}
.wrapper_produccion li:first-child{
    background-color:  rgb(164, 172, 166) ;
}
.wrapper_produccion li:first-child p{
    font-size: 1.25rem;
}
.wrapper_produccion li{
    background-color: rgb(214, 224, 217) ;
}
.wrapper_produccion li p{
    margin: 0;
    font-size: 1rem;
}
.index{
    width: 40px;
}
.proyecto{
    width: 300px;
    
}
.avance{
    width: 150px;
    
}
.boton{
    width: 120px;
}